main {
  margin: auto;
  width: 1440px;
  font-family: sans-serif;
}

ul li { 
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

details > summary::marker {
  display: none;
  content: '';
}

p {
  margin: 0;
}